@import "include.scss";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	margin:0;
	background-color:#ddd;
	height: 100%;
}	

p {
	display:block;
}

.page {		

	position:relative;
	width: 900px;
	margin:auto;
	top:0;
	border:0;
	background-color:#fff;
	@include shadow_box;

	h3 {
		text-indent:1em;
		color: $headings_color;	
	}
	h4 {	}




	code {
		font-size: 1.1em;
	 	border : 1px solid $code_block_border_color;
		background-color:$code_block_color;
		line-height:1.2em;
		padding: 0.05em 1em;
	}
	
	
	pre {
		overflow:auto;
		max-width:650px;
		border : 1px solid $code_block_border_color;
		background-color:$code_block_color;
		border-radius:5px;
		display:inline-block;
		padding: 0.05em 1em;
	    code {
			background-color:none;
			border :none;
			line-height:1.5em;
			padding: 0;
	    }
	}
	
	
	

	hr {
		clear:both;
		width: 100%;
		
		border-style: none;
	}

	blockquote {

		//	width: 90%;
		background-color:$bq1_color;
		font-style: italic;
		text-align: center;
		padding-top: 3px;
		padding-bottom: 3px;
		padding: 20px;
		border-radius: 10px 10px  10px 10px;
	}



	div.figure {
		min-width:300px;
		margin:0 20px 20px 20px;
		/*float: right;*/
		border: 1px solid $borders_color;
		background-color:$bg1_color;

		img {
			max-width: 600px;
			height : auto;
		}
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}



	div.figure p{

		margin:0px;
	}
	div.figure img {
		margin-left: auto;
		margin-right: auto;
		display: block;

		border: 1px solid $borders_color;
	}

	div.figure object {
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-top:0;
		margin-bottom:0;
		padding:0;
		border: 1px solid $borders_color;
	}


	div.figure p.title {
		font-size:0.8em;
		text-align: center;
		font-weight: bold;
		margin:0;
	}

	div.figure p.caption {
		text-align: center;
		font-size:0.8em;
		font-style: italic;
		padding:0;
		max-width:400px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


	.illustration {
		border: 1px solid $borders_color;
		margin-left: 20px;
		float: right;
	}


	#logos {
		//	clear: both;
		display:table-row;
		padding:1em 0 0 1em;
		li {
			padding:1em 0 0 1em;
			list-style:none;
			display:table-cell;
			.logo {
				border:0;
			}
			.module_logo {
				height:50px;
				width:auto;
			}
		}


	}

	.meta_container {	
		border-bottom: 1px solid $borders_color;
	}
	.metainfo {	

		text-indent:10px;
		width: 100%;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-top: 3px;
		background-color: $bg1_color;
	}


	#main_container {
		display:table;	
	//	list-style:none;
		width:900px;
		height:100%;
		table-layout:fixed;

	}
	
	#body_container {
		width: 750px;
		margin-left:4%;
		display:table-cell;
		list-style:none;
		padding:0 1em 3em 1em;
	}
	#body_inner_container {
		width:700px;
	}
	
	
	#sidebar {	
		width: 150px;
		//min-width: 20%;
		padding-left:10px;
		display:table-cell;
		list-style:none;
		border:0;
		height:100%;

		padding-right: 10px;
		padding-bottom: 10em;
		background-color: $bg1_color;	

		font-family: "Helvetica Neue";
		font-weight: bold;
		font-stretch: condensed;
		font-size: 1.2em;


		.toc_block {
			//	border: 1px solid $borders_color;
			// background-color: #ff9;	
			padding:0.5em 0;
			margin:0;
			font-size: 0.85em;

			h4 {
				margin:0;	
				background-color: 	$toc_headings_bg_color;
				color:#fff;
				text-indent:0.5em;
			}

			ul {
				list-style:none;
				padding-left:0;
				text-indent:0.5em;

			}
			.current {
				color:$headings_color ;
				background-color: 	$toc_current_bg_color;			
			}

		}

	}

	#footer {

		border-top: 1px solid $borders_color;
		background-color: $bg1_color;
		ul {

			width:100%;
			display:table-row;
			li {
				display:table-cell;
				list-style:none;
				width:20%;
				img {
					padding: 0 2em;
					max-height:50px;
					width:auto;
				}
			}
		}
	}	
}

#vfxoverflow {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0; 
}

a, a:visited {
	color:$reliance_blue;
	font-weight: bold;
	text-decoration:  none;
}
a:hover {
	color:$reliance_light_blue;	
}


/**
table properties for node attributes and command flgs
*/
table  {
	border-style:solid;
	border-width:1px;
	border-color:$borders_color;
	margin-bottom:5px;
}

tr {
	height:auto;
	min-width:600px;	
	margin-top:5px;
	background-color: $bg2_color;
	margin-bottom:5px;

}

th, td {
	text-align:left;
	padding-left:5px;
	padding-top: 3px;
	padding-bottom: 3px;
}


/**
cell widths and indents for node attributes
*/
.atname {width:35%;}
.attype {width:35%;}
.atdefault {width:15%;}
.atflags {width:15%;}
.atdesc {width:100%;background-color: #eee;}

.projname {width:30%;}
.projauth {width:35%;}
.projdate {width:35%;}
.projdesc {width:100%;background-color: #eee;}




.atflags img {padding-right:5px;}

.d1 {width:100%;}
.d2 {width:99%;left: 1%;position: relative;}
.d3 {width:98%;left: 2%;position: relative;}
.d4 {width:97%;left: 3%;position: relative;}

/**
cell widths for command flags
*/
.flagname {width:50%;}
.flagargtype {width:30%;}
.flagproperties {width:20%;}
.flagproperties img {padding-right:10px;}

